        body {
            font-family: Helvetica, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #e5e8e8;
        }
        header {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
        }
        h1 {
            margin-top: 0;
            font-size: 22px;
        }
        section {
            padding: 20px;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 10px 20px;
            text-align: center;
        }
        .navbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            background-color: #333;
            padding: 0.5rem 1rem;
            color: white;
          }
      
          .navbar img {
            height: 40px;
            width: auto;
            margin-right: 1rem;
          }
      
          .nav-left {
            display: flex;
            align-items: center;
          }
      
          .nav-links {
            list-style: none;
            display: flex;
            gap: 1.5rem;
          }
      
          .nav-links a {
            text-decoration: none;
            color: white;
            font-weight: bold;
            transition: color 0.3s;
          }
      
          .nav-links a:hover {
            color: #ff9800;
          }